@import 'core/reset';

// body {
//   background-image: url('../images/spain.svg');
//   background-repeat: no-repeat;
//   background-attachment: fixed;
//   background-position: center center;
//   background-size: cover;
//   background-size: contain;
// }

.fa-location-dot {
  position: absolute;
  transform: scale(3.5);
  top: 50%;
  left: 50%;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  @media all and (min-width: 768px) {
    height: 100vh;
  }
}

.map {
  object-fit: contain;
  // height: 100%;
  width: 100%;
}

.header {
  position: sticky;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media all and (min-width: 768px) {
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  height: 150px;
}

.search {
  padding: 1em 0;
  display: flex;
  flex-direction: column;

  &__button {
    padding: 0.5em;
    margin: 0.5em;
  }

  @media all and (min-width: 768px) {
    padding: 1em;
  }
}

.icon {
  position: fixed;
  z-index: 10;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .form__btn {
    height: fit-content;
  }

  &__content {
    width: 50%;
    box-shadow: 0 0 100px black;
    border-color: #54585b;
  }

  &__section {
    display: flex;
    align-items: center;
  }

  .card__description {
    font-size: 1em;
    line-height: 1.5;
  }

  &__img {
    width: 50%;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
      rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
      rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  }
}
