@import 'core/reset';

// body {
//   background-image: url('../images/spain.svg');
//   background-repeat: no-repeat;
//   background-attachment: fixed;
//   background-position: center center;
//   background-size: cover;
//   background-size: contain;
// }

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  @media all and (min-width: 768px) {
    height: 100vh;
  }
}

.map {
  object-fit: contain;
  // height: 100%;
  width: 100%;
}

.header {
  position: sticky;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media all and (min-width: 768px) {
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  height: 150px;
  width: fit-content;
}

.search {
  padding: 1em 0;
  display: flex;
  flex-direction: column;

  &__button {
    padding: 0.5em;
    margin: 0.5em;
  }

  @media all and (min-width: 768px) {
    padding: 1em;
  }
}
